# Copia este ficheiro para .env e preenche com os teus dados do Supabase
# Dashboard Supabase -> Settings -> API

VITE_SUPABASE_URL=https://XXXXXXXXXXXXXXXX.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
